# Required
RTSP_URL=rtsp://user:password@camera.local:554/stream1
RUSTFS_S3_ENDPOINT=http://rustfs-svc.rustfs.svc:9000
RUSTFS_S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me

# Optional
S3_BUCKET=home-camera-recordings
CAMERA_ID=camera
RECORD_SECONDS=3600
FFMPEG_PRESET=veryfast
FFMPEG_CRF=23
